In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, Row

In [2]:
import pandas as pd
import numpy as np

In [3]:
conf = SparkConf()
conf.setMaster('spark://spark:7077')
conf.set('spark.authenticate', False)
sc = SparkContext(conf=conf)

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/08 07:12:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# define a Python data structure
big_list = range(1000000)

In [5]:
# Distribute a local Python data structure to form an RDD. Using range is recommended if the input represents a range for performance.
# Distribute that data into 2 partitions
rdd = sc.parallelize(big_list, 2)

In [6]:
# Return a new RDD containing only the elements that satisfy a predicate (odd numbers).
odds = rdd.filter(lambda x: x % 2 != 0)

In [7]:
# Take the first 10 elements of the RDD.
# It works by first scanning one partition, and use the results from that partition to estimate the number of additional partitions needed to satisfy the limit.
# This method should only be used if the resulting array is expected to be small, as all the data is loaded into the driver’s memory.
odds.take(10)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
# Persist this RDD with the default storage level (MEMORY_ONLY).
# Take the first 10 elements of the cached RDD.
odds.cache().take(10)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
# Generate some random numbers
df = pd.DataFrame(np.random.randint(0, 999, size=(1000000, 2)), columns=list('AB'))

In [10]:
df.to_csv('test.csv', index=False)

In [11]:
df

          A    B
0       505  309
1       227  229
2       554  669
3       353   84
4       100  495
...     ...  ...
999995  710  783
999996  720  326
999997  759  293
999998  702  311
999999  961  881

[1000000 rows x 2 columns]

In [12]:
spark = SparkSession.builder.getOrCreate()

In [13]:
spark

In [14]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.show()

+---+---+
|  A|  B|
+---+---+
|505|309|
|227|229|
|554|669|
|353| 84|
|100|495|
|838|783|
|812|302|
| 14|573|
|638|418|
|997|941|
|219|526|
|299| 75|
|480| 51|
|795|713|
|658|179|
|856|896|
|530|409|
|387|723|
|375|819|
|219|913|
+---+---+
only showing top 20 rows

In [17]:
df_pyspark.head(15)

[Row(A=505, B=309),
 Row(A=227, B=229),
 Row(A=554, B=669),
 Row(A=353, B=84),
 Row(A=100, B=495),
 Row(A=838, B=783),
 Row(A=812, B=302),
 Row(A=14, B=573),
 Row(A=638, B=418),
 Row(A=997, B=941),
 Row(A=219, B=526),
 Row(A=299, B=75),
 Row(A=480, B=51),
 Row(A=795, B=713),
 Row(A=658, B=179)]

In [23]:
df_pyspark.printSchema()

root
 |-- A: integer (nullable = true)
 |-- B: integer (nullable = true)

In [24]:
df_pyspark.select('A').show()

+---+
|  A|
+---+
|970|
|617|
|  5|
|796|
|984|
|189|
| 82|
|818|
|750|
|591|
|513|
|790|
|958|
|678|
|521|
|678|
|372|
|372|
|590|
| 17|
+---+
only showing top 20 rows

In [25]:
df_pyspark.filter("a<4").show()

+---+---+
|  A|  B|
+---+---+
|  2|157|
|  3|465|
|  1| 82|
|  3|729|
|  2|574|
|  2|621|
|  0|563|
|  2|948|
|  0|335|
|  2| 47|
|  1|614|
|  1|836|
|  2|971|
|  1|511|
|  2|921|
|  3|648|
|  1|409|
|  0|104|
|  1|800|
|  1|374|
+---+---+
only showing top 20 rows

In [26]:
# Register the DataFrame as a global temporary view
df_pyspark.createGlobalTempView("test")

In [27]:
spark.sql("SELECT * FROM global_temp.test WHERE A<4").show()

+---+---+
|  A|  B|
+---+---+
|  2|157|
|  3|465|
|  1| 82|
|  3|729|
|  2|574|
|  2|621|
|  0|563|
|  2|948|
|  0|335|
|  2| 47|
|  1|614|
|  1|836|
|  2|971|
|  1|511|
|  2|921|
|  3|648|
|  1|409|
|  0|104|
|  1|800|
|  1|374|
+---+---+
only showing top 20 rows

In [28]:
spark.sql("SELECT COUNT (A) FROM global_temp.test WHERE A<4").show()

+--------+
|count(A)|
+--------+
|    4068|
+--------+

In [29]:
rdd = spark.sql("SELECT * FROM global_temp.test WHERE A<4").rdd

In [32]:
new_rdd = rdd.map(lambda w: Row(A=w[0], B=w[1]+10000))

In [33]:
new_df = spark.createDataFrame(new_rdd)

In [34]:
new_df.show()

+---+-----+
|  A|    B|
+---+-----+
|  2|10157|
|  3|10465|
|  1|10082|
|  3|10729|
|  2|10574|
|  2|10621|
|  0|10563|
|  2|10948|
|  0|10335|
|  2|10047|
|  1|10614|
|  1|10836|
|  2|10971|
|  1|10511|
|  2|10921|
|  3|10648|
|  1|10409|
|  0|10104|
|  1|10800|
|  1|10374|
+---+-----+
only showing top 20 rows

In [39]:
digits = new_rdd.map(lambda w: Row(A=w[0], B=','.join([str(i) for i in str(w[1])])))

In [40]:
digits_df = spark.createDataFrame(digits)

In [41]:
digits_df.show()

+---+---------+
|  A|        B|
+---+---------+
|  2|1,0,1,5,7|
|  3|1,0,4,6,5|
|  1|1,0,0,8,2|
|  3|1,0,7,2,9|
|  2|1,0,5,7,4|
|  2|1,0,6,2,1|
|  0|1,0,5,6,3|
|  2|1,0,9,4,8|
|  0|1,0,3,3,5|
|  2|1,0,0,4,7|
|  1|1,0,6,1,4|
|  1|1,0,8,3,6|
|  2|1,0,9,7,1|
|  1|1,0,5,1,1|
|  2|1,0,9,2,1|
|  3|1,0,6,4,8|
|  1|1,0,4,0,9|
|  0|1,0,1,0,4|
|  1|1,0,8,0,0|
|  1|1,0,3,7,4|
+---+---------+
only showing top 20 rows

In [46]:
# Run MapReduce
counts = digits_df.select('B').rdd.flatMap(lambda line: line.B.split(",")).map(lambda word: (word, 1)).reduceByKey(lambda a, b: a+b)

In [47]:
counts_df = spark.createDataFrame(counts)

In [49]:
# the number of occurences for each number 0-9
counts_df.show()

+---+----+
| _1|  _2|
+---+----+
|  1|5283|
|  0|5303|
|  4|1262|
|  8|1238|
|  9|1218|
|  5|1209|
|  7|1200|
|  6|1194|
|  2|1208|
|  3|1225|
+---+----+

In [34]:
df_pyspark.toPandas().to_dict('list')

{'A': [505,
  227,
  554,
  353,
  100,
  838,
  812,
  14,
  638,
  997,
  219,
  299,
  480,
  795,
  658,
  856,
  530,
  387,
  375,
  219,
  622,
  23,
  347,
  921,
  667,
  468,
  120,
  977,
  111,
  920,
  339,
  716,
  962,
  833,
  211,
  269,
  743,
  425,
  850,
  823,
  270,
  833,
  24,
  135,
  414,
  269,
  764,
  605,
  179,
  429,
  896,
  870,
  781,
  442,
  443,
  809,
  493,
  111,
  550,
  59,
  742,
  73,
  394,
  70,
  263,
  451,
  617,
  655,
  380,
  220,
  620,
  636,
  402,
  831,
  754,
  64,
  435,
  318,
  772,
  164,
  116,
  165,
  74,
  408,
  960,
  231,
  745,
  292,
  419,
  94,
  679,
  699,
  721,
  828,
  525,
  95,
  457,
  528,
  632,
  156,
  384,
  923,
  389,
  798,
  397,
  768,
  818,
  829,
  278,
  890,
  479,
  141,
  254,
  833,
  806,
  691,
  68,
  473,
  382,
  187,
  954,
  435,
  401,
  621,
  964,
  364,
  558,
  685,
  180,
  79,
  897,
  907,
  724,
  250,
  559,
  838,
  501,
  298,
  892,
  496,
  771,
  622,
  8,
  739,
  739,
  711,
  717,
  892,
  558,
  937,
  208,
  437,
  969,
  560,
  295,
  840,
  119,
  101,
  950,
  592,
  591,
  628,
  158,
  849,
  437,
  119,
  719,
  378,
  740,
  362,
  647,
  128,
  990,
  81,
  313,
  710,
  128,
  41,
  326,
  626,
  605,
  800,
  530,
  87,
  181,
  221,
  790,
  981,
  548,
  342,
  580,
  555,
  171,
  82,
  207,
  354,
  966,
  91,
  106,
  757,
  907,
  973,
  266,
  615,
  534,
  309,
  155,
  346,
  585,
  799,
  799,
  427,
  404,
  346,
  121,
  451,
  156,
  782,
  803,
  689,
  293,
  362,
  83,
  721,
  441,
  407,
  976,
  367,
  153,
  600,
  188,
  394,
  853,
  312,
  720,
  445,
  568,
  363,
  769,
  295,
  776,
  448,
  456,
  879,
  517,
  357,
  5,
  505,
  618,
  221,
  397,
  119,
  377,
  602,
  57,
  718,
  783,
  222,
  939,
  647,
  270,
  997,
  222,
  328,
  296,
  737,
  773,
  421,
  645,
  112,
  173,
  356,
  756,
  375,
  790,
  20,
  489,
  865,
  427,
  638,
  23,
  177,
  963,
  70,
  370,
  247,
  279,
  13,
  370,
  940,
  923,
  359,
  428,
  554,
  103,
  274,
  343,
  112,
  712,
  220,
  734,
  78,
  419,
  310,
  448,
  134,
  456,
  432,
  191,
  926,
  63,
  785,
  324,
  35,
  250,
  873,
  787,
  462,
  956,
  314,
  244,
  59,
  797,
  539,
  529,
  386,
  823,
  544,
  711,
  555,
  417,
  521,
  928,
  131,
  427,
  834,
  851,
  98,
  379,
  357,
  947,
  152,
  640,
  392,
  980,
  547,
  184,
  565,
  512,
  834,
  457,
  587,
  397,
  518,
  679,
  334,
  944,
  712,
  540,
  167,
  192,
  157,
  142,
  55,
  242,
  84,
  91,
  460,
  785,
  951,
  497,
  575,
  805,
  598,
  321,
  222,
  720,
  839,
  901,
  524,
  522,
  789,
  70,
  505,
  426,
  363,
  521,
  663,
  835,
  172,
  729,
  713,
  210,
  35,
  929,
  653,
  913,
  593,
  600,
  318,
  531,
  742,
  503,
  467,
  221,
  25,
  805,
  757,
  878,
  354,
  593,
  785,
  590,
  455,
  617,
  472,
  521,
  501,
  834,
  399,
  35,
  109,
  503,
  55,
  550,
  67,
  416,
  874,
  971,
  391,
  941,
  387,
  580,
  540,
  604,
  512,
  881,
  280,
  457,
  987,
  796,
  378,
  965,
  79,
  929,
  534,
  1,
  69,
  707,
  950,
  193,
  425,
  284,
  939,
  181,
  771,
  889,
  911,
  99,
  57,
  179,
  313,
  548,
  258,
  154,
  225,
  485,
  779,
  116,
  692,
  160,
  71,
  197,
  704,
  21,
  877,
  712,
  394,
  851,
  318,
  707,
  710,
  876,
  995,
  214,
  595,
  139,
  64,
  617,
  469,
  932,
  5,
  512,
  35,
  867,
  878,
  962,
  526,
  644,
  293,
  585,
  984,
  673,
  265,
  225,
  545,
  628,
  758,
  113,
  927,
  954,
  493,
  622,
  640,
  116,
  602,
  509,
  517,
  388,
  515,
  551,
  411,
  362,
  267,
  367,
  431,
  16,
  896,
  507,
  656,
  598,
  459,
  707,
  406,
  317,
  487,
  459,
  349,
  682,
  776,
  657,
  71,
  962,
  654,
  169,
  621,
  103,
  737,
  629,
  574,
  798,
  179,
  164,
  591,
  547,
  992,
  62,
  240,
  434,
  60,
  845,
  356,
  448,
  836,
  967,
  785,
  170,
  469,
  334,
  65,
  438,
  938,
  980,
  82,
  860,
  334,
  383,
  321,
  571,
  833,
  856,
  108,
  139,
  936,
  221,
  843,
  669,
  962,
  68,
  803,
  848,
  725,
  891,
  447,
  543,
  447,
  976,
  680,
  13,
  573,
  231,
  730,
  636,
  190,
  661,
  427,
  638,
  772,
  656,
  523,
  567,
  82,
  823,
  880,
  327,
  425,
  30,
  294,
  230,
  946,
  380,
  729,
  151,
  548,
  419,
  440,
  131,
  907,
  858,
  52,
  837,
  151,
  391,
  795,
  0,
  376,
  859,
  524,
  641,
  915,
  760,
  111,
  513,
  495,
  960,
  298,
  24,
  492,
  58,
  95,
  452,
  483,
  96,
  459,
  126,
  979,
  632,
  606,
  199,
  882,
  618,
  691,
  240,
  548,
  294,
  766,
  52,
  742,
  430,
  70,
  181,
  507,
  413,
  832,
  229,
  889,
  852,
  521,
  784,
  639,
  361,
  736,
  979,
  676,
  632,
  56,
  651,
  724,
  349,
  438,
  855,
  951,
  814,
  806,
  102,
  228,
  46,
  611,
  618,
  602,
  750,
  603,
  213,
  567,
  356,
  857,
  819,
  244,
  53,
  765,
  757,
  132,
  624,
  978,
  22,
  341,
  173,
  986,
  560,
  498,
  556,
  306,
  371,
  873,
  52,
  355,
  554,
  435,
  488,
  795,
  874,
  174,
  104,
  324,
  223,
  508,
  795,
  35,
  149,
  84,
  475,
  378,
  570,
  786,
  342,
  322,
  291,
  849,
  810,
  357,
  80,
  511,
  86,
  899,
  188,
  69,
  515,
  491,
  539,
  453,
  959,
  857,
  242,
  782,
  50,
  957,
  34,
  872,
  710,
  354,
  450,
  106,
  995,
  494,
  144,
  901,
  754,
  569,
  613,
  471,
  140,
  920,
  764,
  437,
  90,
  49,
  529,
  759,
  147,
  850,
  915,
  478,
  311,
  756,
  425,
  221,
  9,
  730,
  399,
  992,
  878,
  726,
  298,
  501,
  206,
  428,
  83,
  793,
  838,
  601,
  217,
  352,
  216,
  52,
  4,
  335,
  265,
  480,
  597,
  830,
  813,
  145,
  453,
  179,
  756,
  436,
  964,
  57,
  424,
  470,
  335,
  972,
  535,
  865,
  744,
  309,
  917,
  447,
  618,
  81,
  193,
  575,
  275,
  694,
  609,
  273,
  485,
  139,
  732,
  246,
  847,
  295,
  599,
  996,
  978,
  848,
  471,
  909,
  491,
  559,
  389,
  129,
  511,
  438,
  266,
  629,
  957,
  558,
  0,
  85,
  458,
  788,
  858,
  955,
  300,
  191,
  829,
  850,
  359,
  273,
  319,
  997,
  302,
  746,
  440,
  233,
  676,
  934,
  334,
  23,
  282,
  743,
  583,
  439,
  220,
  341,
  229,
  421,
  959,
  803,
  756,
  558,
  234,
  222,
  189,
  855,
  615,
  915,
  412,
  568,
  786,
  285,
  48,
  331,
  736,
  928,
  530,
  135,
  614,
  897,
  975,
  467,
  782,
  753,
  667,
  284,
  193,
  958,
  891,
  386,
  444,
  959,
  99,
  885,
  493,
  429,
  520,
  859,
  592,
  872,
  436,
  902,
  912,
  143,
  40,
  831,
  534,
  465,
  131,
  618,
  663,
  479,
  294,
  845,
  25,
  447,
  901,
  474,
  466,
  709,
  552,
  7,
  881,
  512,
  239,
  700,
  788,
  677,
  88,
  412,
  835,
  408,
  156,
  514,
  708,
  337,
  401,
  692,
  179,
  678,
  904,
  794,
  164,
  585,
  884,
  339,
  903,
  931,
  19,
  496,
  848,
  801,
  33,
  972,
  706,
  723,
  118,
  620,
  713,
  20,
  ...],
 'B': [309,
  229,
  669,
  84,
  495,
  783,
  302,
  573,
  418,
  941,
  526,
  75,
  51,
  713,
  179,
  896,
  409,
  723,
  819,
  913,
  931,
  486,
  313,
  727,
  783,
  115,
  555,
  851,
  682,
  915,
  279,
  454,
  181,
  332,
  30,
  67,
  367,
  964,
  720,
  965,
  122,
  984,
  719,
  126,
  246,
  434,
  87,
  290,
  829,
  161,
  591,
  842,
  150,
  305,
  525,
  827,
  461,
  891,
  767,
  926,
  85,
  822,
  71,
  778,
  86,
  221,
  768,
  399,
  877,
  595,
  359,
  376,
  190,
  391,
  58,
  243,
  404,
  141,
  472,
  432,
  745,
  15,
  234,
  282,
  881,
  977,
  591,
  19,
  683,
  121,
  583,
  628,
  289,
  232,
  267,
  426,
  427,
  477,
  356,
  65,
  634,
  168,
  332,
  977,
  574,
  252,
  338,
  736,
  296,
  560,
  209,
  639,
  164,
  770,
  826,
  743,
  133,
  933,
  758,
  372,
  903,
  496,
  641,
  781,
  221,
  59,
  807,
  965,
  54,
  94,
  249,
  84,
  484,
  581,
  833,
  40,
  151,
  322,
  971,
  113,
  66,
  183,
  843,
  768,
  2,
  717,
  266,
  836,
  722,
  797,
  906,
  288,
  904,
  378,
  12,
  556,
  992,
  357,
  391,
  945,
  502,
  975,
  948,
  903,
  360,
  543,
  67,
  45,
  643,
  451,
  474,
  705,
  936,
  671,
  872,
  161,
  421,
  238,
  64,
  746,
  887,
  792,
  759,
  46,
  193,
  158,
  746,
  957,
  500,
  942,
  899,
  391,
  641,
  534,
  493,
  62,
  262,
  854,
  207,
  92,
  643,
  668,
  218,
  598,
  145,
  453,
  460,
  367,
  70,
  532,
  23,
  304,
  389,
  598,
  375,
  176,
  345,
  909,
  199,
  848,
  641,
  417,
  274,
  268,
  650,
  970,
  255,
  655,
  709,
  791,
  818,
  666,
  683,
  53,
  515,
  28,
  763,
  944,
  98,
  907,
  489,
  658,
  840,
  236,
  889,
  411,
  4,
  948,
  370,
  511,
  304,
  764,
  704,
  860,
  811,
  103,
  522,
  943,
  520,
  333,
  413,
  325,
  492,
  826,
  42,
  118,
  394,
  162,
  562,
  635,
  69,
  542,
  202,
  977,
  553,
  509,
  795,
  318,
  203,
  324,
  123,
  353,
  934,
  346,
  291,
  985,
  322,
  269,
  36,
  151,
  376,
  692,
  172,
  506,
  617,
  942,
  558,
  279,
  36,
  384,
  816,
  508,
  591,
  784,
  402,
  73,
  272,
  30,
  220,
  337,
  885,
  680,
  898,
  187,
  844,
  20,
  44,
  76,
  502,
  340,
  906,
  435,
  483,
  475,
  668,
  237,
  494,
  498,
  339,
  882,
  561,
  207,
  985,
  147,
  930,
  392,
  975,
  489,
  235,
  415,
  259,
  174,
  351,
  860,
  333,
  475,
  840,
  192,
  83,
  639,
  760,
  938,
  735,
  493,
  902,
  672,
  394,
  286,
  728,
  937,
  176,
  16,
  3,
  925,
  348,
  744,
  763,
  285,
  731,
  214,
  573,
  211,
  485,
  930,
  747,
  570,
  184,
  229,
  85,
  358,
  482,
  504,
  48,
  696,
  76,
  410,
  989,
  416,
  531,
  412,
  677,
  956,
  823,
  152,
  404,
  975,
  559,
  245,
  502,
  446,
  344,
  193,
  961,
  236,
  36,
  406,
  582,
  457,
  529,
  624,
  162,
  888,
  34,
  144,
  804,
  786,
  425,
  907,
  180,
  179,
  6,
  467,
  91,
  308,
  405,
  333,
  229,
  785,
  453,
  438,
  94,
  197,
  256,
  839,
  436,
  178,
  240,
  942,
  725,
  123,
  665,
  906,
  84,
  780,
  219,
  183,
  252,
  961,
  544,
  443,
  232,
  829,
  722,
  767,
  267,
  148,
  563,
  855,
  542,
  962,
  180,
  878,
  710,
  466,
  935,
  431,
  625,
  49,
  866,
  798,
  325,
  799,
  530,
  164,
  888,
  565,
  39,
  780,
  893,
  838,
  985,
  353,
  243,
  987,
  267,
  643,
  580,
  377,
  922,
  835,
  242,
  133,
  795,
  490,
  387,
  288,
  969,
  456,
  636,
  568,
  957,
  845,
  186,
  289,
  659,
  33,
  867,
  11,
  187,
  318,
  31,
  444,
  844,
  588,
  656,
  754,
  619,
  772,
  461,
  221,
  966,
  911,
  862,
  347,
  498,
  828,
  731,
  356,
  637,
  283,
  993,
  731,
  40,
  29,
  437,
  750,
  202,
  574,
  238,
  735,
  61,
  401,
  112,
  184,
  147,
  795,
  396,
  361,
  634,
  827,
  425,
  274,
  763,
  773,
  856,
  491,
  737,
  492,
  124,
  136,
  793,
  266,
  916,
  614,
  744,
  555,
  386,
  427,
  192,
  7,
  818,
  976,
  294,
  797,
  458,
  73,
  460,
  723,
  383,
  118,
  921,
  636,
  441,
  886,
  639,
  334,
  833,
  220,
  274,
  63,
  287,
  303,
  925,
  544,
  4,
  65,
  5,
  347,
  776,
  619,
  522,
  566,
  602,
  211,
  77,
  666,
  828,
  74,
  683,
  389,
  177,
  307,
  39,
  375,
  587,
  414,
  989,
  962,
  738,
  164,
  57,
  289,
  684,
  8,
  859,
  439,
  270,
  175,
  525,
  531,
  468,
  848,
  632,
  207,
  950,
  737,
  423,
  380,
  438,
  844,
  127,
  37,
  810,
  483,
  24,
  724,
  251,
  76,
  716,
  839,
  896,
  426,
  552,
  914,
  966,
  947,
  894,
  699,
  669,
  248,
  447,
  615,
  145,
  967,
  574,
  554,
  479,
  108,
  740,
  803,
  613,
  711,
  431,
  181,
  24,
  313,
  337,
  932,
  455,
  722,
  880,
  72,
  69,
  93,
  204,
  968,
  322,
  911,
  636,
  913,
  97,
  507,
  639,
  333,
  397,
  186,
  469,
  497,
  10,
  147,
  732,
  959,
  565,
  601,
  203,
  966,
  126,
  635,
  644,
  547,
  495,
  924,
  722,
  811,
  682,
  503,
  622,
  587,
  427,
  549,
  376,
  926,
  755,
  377,
  657,
  426,
  19,
  947,
  238,
  606,
  726,
  475,
  271,
  330,
  33,
  943,
  178,
  539,
  579,
  482,
  889,
  833,
  23,
  131,
  202,
  714,
  630,
  728,
  47,
  807,
  860,
  665,
  396,
  800,
  333,
  435,
  353,
  304,
  300,
  470,
  995,
  847,
  464,
  572,
  341,
  180,
  581,
  476,
  143,
  382,
  855,
  274,
  444,
  928,
  938,
  776,
  390,
  116,
  616,
  518,
  445,
  51,
  580,
  172,
  594,
  446,
  577,
  994,
  147,
  550,
  129,
  2,
  942,
  318,
  664,
  781,
  611,
  373,
  22,
  474,
  127,
  951,
  449,
  116,
  85,
  134,
  477,
  842,
  30,
  220,
  143,
  374,
  713,
  360,
  356,
  776,
  442,
  214,
  819,
  99,
  849,
  59,
  156,
  147,
  237,
  446,
  363,
  599,
  108,
  918,
  95,
  885,
  481,
  971,
  691,
  161,
  957,
  520,
  320,
  163,
  533,
  525,
  650,
  368,
  655,
  764,
  27,
  60,
  78,
  133,
  907,
  228,
  620,
  515,
  626,
  875,
  329,
  512,
  860,
  287,
  659,
  3,
  916,
  819,
  922,
  599,
  268,
  803,
  278,
  342,
  290,
  14,
  708,
  687,
  791,
  596,
  764,
  0,
  710,
  564,
  249,
  681,
  417,
  300,
  158,
  72,
  211,
  535,
  82,
  124,
  440,
  491,
  602,
  186,
  413,
  248,
  120,
  739,
  252,
  997,
  210,
  76,
  776,
  255,
  750,
  393,
  448,
  21,
  722,
  745,
  278,
  302,
  310,
  281,
  615,
  228,
  680,
  943,
  765,
  227,
  350,
  226,
  976,
  345,
  474,
  90,
  197,
  515,
  614,
  435,
  80,
  541,
  996,
  358,
  260,
  74,
  352,
  949,
  671,
  389,
  356,
  930,
  549,
  346,
  214,
  470,
  161,
  560,
  644,
  996,
  878,
  22,
  870,
  484,
  441,
  422,
  971,
  128,
  569,
  145,
  745,
  868,
  303,
  174,
  89,
  125,
  790,
  686,
  517,
  820,
  511,
  61,
  42,
  159,
  189,
  542,
  149,
  621,
  681,
  181,
  565,
  673,
  676,
  837,
  478,
  366,
  117,
  841,
  967,
  538,
  137,
  219,
  890,
  765,
  783,
  301,
  313,
  768,
  384,
  739,
  ...]}